/*Шрифти*/

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */

/* Слайд активный */

/* Слайд основной */

/* Слайд по центру */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки */

/* Конкретный слайдер */

.music__sliders {
  position: relative;
  padding: 0px 60px;
}

.music__sliders .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -42px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.music__sliders .slick-arrow.slick-prev {
  left: 20%;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  background: url('../img/main/music/pre.svg') 0 0% no-repeat;
}

.music__sliders .slick-arrow.slick-next {
  right: 20%;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  background: url('../img/main/music/nex.svg') 0 0% no-repeat;
}

.music__sliders .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.music__sliders .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.music__sliders .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.music__sliders .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.music__sliders .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.music__slider {
  padding: 0px 15px;
}

.music__slider img {
  max-width: 100%;
}

/*Базовоые настройки*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 403;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

html,
body {
  line-height: 35px;
  height: 100vh;
  font-family: "Roboto";
  font-style: 20px;
  color: #393830;
  background-color: #f0eeee;
  z-index: -2;
}

body.lock {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  text-align: center;
  line-height: 45px;
}

.in__text {
  padding: 25px;
}

.in__input {
  padding: 12.5px;
  margin: 0 0 60px;
  border-radius: 20px;
  height: 75px;
}

.in__button {
  padding: 12.5px;
  background-color: bisque;
  border-radius: 20px;
  margin: 0 0 60px;
  height: 75px;
}

.ait__out {
  background-color: cornflowerblue;
  padding: 50px 0;
}

.ea__out {
  background-color: darksalmon;
  padding: 50px 0;
}

@media (min-width: 768px) {
  .wrapper {
    font-size: calc((20px) + 14 * (100vw / 1440));
  }

  .in__input {
    font-size: calc((10px) + 14 * (100vw / 1440));
  }

  .in__button {
    font-size: calc((10px) + 21 * (100vw / 1440));
  }
}

@media (max-width: 768px) {
  .wrapper {
    font-size: calc((20px) + 14 * ((100vw - 320px) / 1440));
  }

  .in__input {
    font-size: calc((10px) + 14 * ((100vw - 320px) / 1440));
  }

  .in__button {
    font-size: calc((10px) + 21 * ((100vw - 320px) / 1440));
  }
}

@media (max-width: 767px) {
  .music__sliders {
    padding: 0px 40px;
  }
}

@media (max-width: 425px) {
  body._lock {
    overflow: hidden;
  }
}